.main {
    --background: 
    linear-gradient(
        rgba(0, 0, 0, 0.75), 
        rgba(0, 0, 0, 0.75)
      ),url(../../assets/img/login_background.jpg) top/cover fixed;
    padding-top: 20px;
    padding-bottom: 20%;
    margin-top: auto;
    margin-bottom: auto;
}

.logo{
    content: url(../../assets/img/miscellaneous_logo_white.png);
    background-color: rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
    max-height: 20%;
}

.entries{
    background-color: red;
    margin-left: auto;
    margin-right: auto;
}

.entry{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid #ffffff;
    color: white;
}

ion-row{
    margin:2%;
}

ion-button{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.connection{
    --color: black;
    --background: white;
    --border-radius:20px;
}

.register{
    --color: white;
    --background:transparent;
    --border-color:white;
    --border-style: solid;
    --border-width:2px;
    --border-radius:20px;
}