

<ion-content class="main">
  <ion-grid>
    <ion-row>
      <ion-img class="logo"></ion-img>
    </ion-row>
    <ion-row>
      <ion-input placeholder="Adresse email" class="entry"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input placeholder="Mot de passe" class="entry"></ion-input>
    </ion-row>
    <ion-row>
      <ion-button class="connection" [routerLink]="['app/tabs/wod']">connexion</ion-button>
    </ion-row>
    <ion-row>
      <ion-button class="register">s'inscrire</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>