<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="exercises">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Exercices</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wod">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>WOD</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Mon profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
