<ion-header>
  <ion-toolbar>
    <ion-title>Créer un exercice</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Annuler</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createExerciseForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input formControlName="label"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input formControlName="description"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-button expand="block" (click)="createExercise()">Ajouter l'exercice</ion-button>
</ion-content>
